<nav class="navbar navbar-expand-lg navbar-light bg-light mx-2">
  <a class="navbar-brand" href="#">Product Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<div class="p-4">
  <table class="table">
    <thead>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>code</th>
        <th>price</th>
        <th>amount</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody id="cart_items_container">

    </tbody>
  </table>
  <div class="mt-2 d-flex justify-content-end">
    <button class="btn btn-success" onClick="purchase()">
      Purchase $$$
    </button>
  </div>
</div>

<script src="/js/cart.js"></script>